.simple-border {
    border: solid; 
    padding: .5em; 
    border-color: gray; 
    border-width: 1px; 
    margin-bottom: .5em;
}

.states-list {
   height: 260px !important;
   overflow-y: scroll;
   overflow-x: hidden;
}
/* CSS For Dashboard-nav-card sections: */
.dashboard-nav-card {
  background: #1779ba;
  border-radius: 0;
  color: #fefefe;
  display: block;
  min-height: 80px;
  padding: 1.5rem;
  position: relative;
  width: 100%;
}

.dashboard-nav-card-icon {
  font-size: 1.25rem;
  left: 1rem;
  opacity: 0.5;
  position: absolute;
  top: 1rem;
  transition: all 0.2s ease;
  width: auto;
}

.dashboard-nav-card-title {
  bottom: 0;
  position: absolute;
  right: 1rem;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
}
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Overriding Foundation's default style for the alert cards */
@media print, screen and (min-width: 40em) and (max-width: 60em){
    .h4, h4 {
        font-size: 1.125rem !important;
}}

@media print, screen and (min-width: 60em){
    .h4, h4 {
        font-size: 1.4rem !important;
    }}
