h1, .h1 {
  font-family: 'Oleo Script', 'Verdana', cursive;
}

.stateName {
  font-weight: bold;
}

.simple-border {
  border: solid; 
  border-color: gray; 
  border-width: 1px; 
}
  
.states-list {
    height: 260px !important;
    overflow-y: scroll;
    overflow-x: hidden;
 }

/* CSS For Dashboard-nav-card sections: */
.dashboard-nav-card {
background:rgb(117, 60, 117);
border-radius: 0;
margin-bottom: 1em;
color: #fefefe;
display: block;
min-height: 80px;
box-shadow: .5em .5em .25em grey;
position: relative;
width: 100%;
text-align: center;
}

.dashboard-nav-card:hover .dashboard-nav-card-title,
.dashboard-nav-card:hover .dashboard-nav-card-icon {
color: #fefefe;
}

.dashboard-nav-card:hover .dashboard-nav-card-icon {
opacity: 1;
transition: all 0.2s ease;
}

.dashboard-nav-card-icon {
font-size: 1.25rem;
/* left: 1rem; */
opacity: 0.5;
/* position: absolute; */
/* top: 1rem; */
transition: all 0.2s ease;
width: auto;
}

.dashboard-nav-card-title {
/* bottom: 10; */
/* right: 1rem; */
margin: .3em;
text-align: right;
font-size: medium;
}

.card-section {
  font-size: 14px;
  padding: 1em; 
  background-color: lavender;
  height: 100%; 
  width: 100%; 
}

.top-bar {
  background: lavender;
}

a {
  color: black;
}
a:hover {
  color: gray
}
.selector-dropdown-country, .selector-dropdown-states, #stateName-topBar {
 background-color: lavender;
 color: black;
 font-weight: bold;
 
}

.selector-dropdown {
  background-color: rgb(219, 200, 219);
}
.card {
  border-radius: .5em;
  box-shadow: .5em .5em .25em grey;
}

.stats-card {
  border-radius: 1.3em 0 1.3em;
}

#top-alert-bar {
margin-top: .5em;
}

#map {
  height: 100%;
}

#alert-bar {
  margin: 10px;
}

#url0 {
  color: purple ;
  text-decoration: underline;
}

#url1 {
  color: purple;
  text-decoration: underline;
}

#url2 {
  color: purple;
  text-decoration: underline;
}

#chart-legend {
  font-size: 85%;
}


/* Overriding Foundation's default style for the alert cards */
@media print, screen and (min-width: 40em) and (max-width: 60em){
    .h4, h4 {
        font-size: 1.125rem !important;
}}

@media print, screen and (min-width: 60em){
    .h4, h4 {
        font-size: 1.4rem !important;
    }}
